.header {
    text-align: center;
    background-color: #e9ecef;
    padding: 8px;
    border-radius: 10px;
    border-left: 6px solid #34495e;
}
.goal-list {
    padding: 20px;
    background-color: #e9ecef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    border-left: 6px solid #34495e;
}
.goal-list-container h2 {
    text-align: center;
    color: #343a40;
}
.goal-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
    min-width: 250px;
}
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.actions-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.actions-button:hover {
    background-color: #0056b3;
}
#deposit {
    background-color: #6c757d
}
#deposit:hover {
    background-color: #495057
}
#delete {
    background-color: #dc3545;
}
#delete:hover {
    background-color: #a71d2a
}

/* Goal form styles */
.goal-form-container {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-left: 6px solid #34495e;
}
.goal-form-container h2 {
    text-align: center;
    color: #343a40;
}
.goal-form-fields input {
    margin: 5px;
    width: 35%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.goal-form-fields button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 18%;
    border-radius: 3px;
    cursor: pointer;

}

.goal-form-fields button:hover {
    background-color: #0056b3;
}